<h1>Login to Meet Website!</h1>
<form method="post" action="/login">
  <input type="text" name="teamname" placeholder="Team name:">
  <input type="text" name="password" placeholder="Password:">

  <input type="submit" value="submit">
</form>
