
<html>

  <ul>
  <%@events.each do |event|%>
    <li><a href='/events/<%=event.slug%>'><%=event.name%></a></li>
  <%end%>
  </ul>

  <%if @team.teamname=="Admin"%>
    <a href='/events/new'>Add Events</a><br>
    <a href='/events/delete'>Delete Events</a><br>
    <a href='/events/edit'>Edit Events</a><br>
  <%end%>

</html>
