
<h2>Add a new race</h2>

<form method="post" action="/events">

  <label>Stroke: </label><input type="text" name="stroke">
  <label>Distance: </label><input type="text" name="distance">
  <label>Gender: </label><input type="text" name="gender">
  <label>Division: </label><input type="text" name="division">

  <input type="submit" value="Submit">

</form>
