
<form method="post" action='/swimmers'>

  <label>Name: </label><input type="text" name="name"><br>
  <label>Gender: </label><input list="gender" name="gender" type="text"><br>
  <datalist id="gender">
    <!-- try making options compulsory -->
    <option value="M">
    <option value="F">
  </datalist>
  <label>Age: </label><input type="integer" name="age"><br>

  <input type="submit" value="Submit">

</form>
