<h2>Welcome!</h2>

<a href='/events'>View Events</a><br>
<a href='/swimmers'>View Swimmers</a><br>
<a href='/swimmers/new'>Sign Up New Swimmers</a><br>
<a href='/swimmers/register_event'>Register Swimmers</a><br>
